<% content_for :title, I18n.t("devise.passwords.new.title") %>
<div class="row">
  <div class="small-12 large-6 large-offset-3 columns">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <fieldset>
        <legend><%= I18n.t "devise.passwords.new.title" %></legend>
        <%= devise_error_messages! %>
        <%= f.label :email, I18n.t("form.email") %>
        <%= f.email_field :email, autofocus: true %>
        <%= f.submit I18n.t("devise.passwords.new.submit"), class: "button" %>
      </fieldset>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
