<% content_for :title, I18n.t("books.new.title") %>
<div class="row">
  <div class="small-12 large-6 large-offset-3 columns">
    <%= form_for(:book, url: search_books_url) do |f| %>
      <fieldset>
        <legend><%= I18n.t "books.new.title" %></legend>
        <%= f.label :isbn, I18n.t("form.isbn") %>
        <%= f.text_field :isbn %>
        <%= f.label :title, I18n.t("form.title") %>
        <%= f.text_field :title %>
        <%= f.submit I18n.t("books.new.submit"), :class => "button" %>
      </fieldset>
    <% end %>
  </div>
</div>