<% content_for :title, I18n.t("books.search.title") %>
<% @books.each do |book| %>
  <% if book[:book].nil? %>
    <div class="row">
      <div class="small-12 columns">
        <div data-alert class="alert-box alert">
          <%= book[:message] %>
          <a href="#" class="close">&times;</a>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="small-12 columns">
        <%= form_for(:book, url: books_url) do |f| %>
          <fieldset>
            <legend><%= I18n.t "books.search.title" %></legend>
            <p>
              <%= I18n.t "books.search.book_isbn" %> <%= book[:book].isbn %><br />
              <%= I18n.t "books.search.book_isbn13" %> <%= book[:book].isbn13 %><br />
              <%= I18n.t "books.search.book_title" %> <%= book[:book].title %><br />
              <%= I18n.t "books.search.book_author" %> <%= book[:book].author %><br />
              <%= image_tag book[:book].cover %><br />
              <%= I18n.t "books.search.book_description" %> <%= book[:book].description %><br />
              <%= I18n.t "books.search.book_pages" %> <%= book[:book].pages %><br />
              <%= I18n.t "books.search.book_publication" %> <%= book[:book].publication.year %><br />
              <%= I18n.t "books.search.book_original_publication" %> <%= book[:book].original_publication.year %><br />
              <%= I18n.t "books.search.book_publisher" %> <%= book[:book].publisher %><br />
              <%= I18n.t "books.search.book_rating" %> <%= book[:book].rating %>
            </p>
            <%= f.hidden_field :isbn, value: book[:book].isbn %>
            <%= f.hidden_field :isbn13, value: book[:book].isbn13 %>
            <%= f.hidden_field :title, value: book[:book].title %>
            <%= f.hidden_field :author, value: book[:book].author %>
            <%= f.hidden_field :cover, value: book[:book].cover %>
            <%= f.hidden_field :description, value: book[:book].description %>
            <%= f.hidden_field :pages, value: book[:book].pages %>
            <%= f.hidden_field :publication, value: book[:book].publication %>
            <%= f.hidden_field :original_publication, value: book[:book].original_publication %>
            <%= f.hidden_field :publisher, value: book[:book].publisher %>
            <%= f.hidden_field :rating, value: book[:book].rating %>
            <%= f.submit I18n.t("books.search.title"), class: "button" %>
          </fieldset>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
